<%- include("partials/header") -%>

<h1>Compose</h1>

<div class="Inputs">

<input type="text" name="">
<button type="submit" name="button">Publish</button>

</div>

<%- include("partials/footer") -%>
